<div class="col mb-4 mx-auto">
  <div class="card h-100 search_card " style=" width: 18rem;">
    <div class="card-header"></div> 
    <div class= "text-right">
      <div id="circle"><h4 class="text-center">C</h4></div>
    </div> 
    <div class="card-body" style="height: 35vh;">       
      <h3 class="card-title"><%= course.title %></h3>      
      <div>SUBJECT: <%= course.subject%></div>   
      <div>GRADE: <%= course.grade_level%></div>      
      <h5 class="search_tags">Tags:<%= link_to tag.name, tag_path(tag)  %></h5>
      <div class="card-text mb-4" style="height: 15vh;">
        <div>DESCRIPTION: </div>   
          <%= simple_format truncate(h(course.description), length: 150, separator: ' ') %>   
          <%= link_to "Read More", course_path(course), class:"card-text mb-4"%>
        </div>  
      </div>
    
      <div class="text-center card_footer ">
        <a href='/courses/<%="#{course.searchable_id}"%>' class="btn button_view_card">VIEW COURSE</a>
      </div>
    </div>
  </div>
  