<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body class="landing">
  <!-- begin HTML -->
  <!-- container -->
  <div class="container-md pt-5 d-flex flex-column    mx-auto">

    <!-- first row -->
    <div class="row mt-5 d-flex flex-column ">
      <!-- left column -->
      

      <!-- right column -->
      <%
=begin%>
      <div class="col-lg-6 bg-transparent">

        <!-- SIGN UP BOX -->
        <div>
          <% if current_user == nil %>
          <br>
          <div id="shadow">
            <h3 class="text-center font-weight-normal">To get the full experience of (website name)
              <br>register for a free account!</h3>
            <center><%= link_to 'Sign Up Now!', new_user_registration_path, :class => "btn btn-success btn-lg" %>
              <br><br>
              <h4>Already Registered? <%= link_to 'Sign in', new_user_session_path %></h4>
            </center>
          </div>
          <% else %>
          <br>
          <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: '' %>
          <% end %>
        </div>

        <!--/SIGN UP BOX-->
        <br><br>
        <h1 class="text-center font-weight-normal">Share clases and courses<br>Support your community with your knowledge</h1>
        <hr class="my-3">
        <h4 class="text-center font-weight-normal">Teaching for America Project
          <p>
          <h4 class="text-center font-weight-normal">Share courses and clases to support your community with your knowlege</h4>
          <p>
            <hr class="my-2">
      </div><!-- right column -->
    </div><!-- left column -->
    <%
=end%>
    <!-- second row -->
    <div class="row mx-auto  ">
      <!-- single column SEARCH BAR -->
      <div class="col">
        <% if current_user.nil? %>
      

        <h1 class="text-center font-weight-normal">Welcome Back, <%= current_user.email %>!</h1>
        
        <h3 class="text-center font-weight-normal">Search Courses and Lessons</h3>
        <% end %>
        <p>
          <center><%= render 'layouts/search_landingpage' %></center>
        <p>
          
  </div><!-- /container -->
</body>

</html>