
            <div class="grid-container">
    
              <div class="search-filter">    
                <%= form_tag(search_page_path, :method => 'get') do -%>
                  <div class="mb-4">
                    <h5>Filters</h5>
                    <small class="form-text text-muted mt-4">SUBJECT</small>
                    <%= select_tag :subject, options_for_select(@subjects), { include_blank: true, class: 'form-control' } %>
                  </div>
                  <div class="mb-4">
                    <small class="form-text text-muted">DISTRICT</small>
                    <%= select_tag :district, options_for_select(@districts), { include_blank: true, class: 'form-control' } %>
                  </div>

                  <div class="mb-4">
                    <small class="form-text text-muted">GRADE LEVEL</small>
                    <%= select_tag :grade_level, options_for_select(@available_grade_levels), { include_blank: true, class: 'form-control' } %>
                  </div>     
                  <%= hidden_field_tag :search, @search %>
                  <div class="text-center">
                    <%= submit_tag "FILTER RESULTS", :class => 'btn button_filter ' %>
                  </div>
                <% end %>
              </div>
              <div class="main-result">          
                <div class="col mb-4 mx-auto">   
                  <%= render 'layouts/search_landingpage' %>
                </div>     
                             
     
                <div class="col mb-4 mx-auto">   
                  <h5 class="results"><b>RESULTS FOR:</b> <%= params[:search].capitalize%></h5>
                </div>    
                <div class="row row-cols-1 row-cols-md-3 shadow-none">              
                  <% @results.each do |result| %>  
                    <div class="col mb-4 mx-auto">     
                      <% if result.searchable_type == "Lesson" %>
                        <%= render 'lesson_card', lesson: result %>
                      <% else %>  
                        <%= render 'course_card', course: result %>
                      <% end %> 
                    </div>        
                  <%end%>              
                </div>
              </div>
   
            </div>
 





