<h2 class="title mt-5 mb-5 display-3" style="text-align:center">Editing Document</h2>


<%= render 'form', document: @document %>
<%if @course.present? %> 
  <%= link_to 'Show', course_document_path(@course, @document), :class => "btn btn-primary btn-sm", :style => "color: white" %>|
  <%= link_to 'Back', course_documents_path(@course), :class => "btn btn-outline-primary btn-sm" %>
<%elsif @lesson.present?%>
   <%= link_to 'Show', lesson_document_path(@lesson, @document), :class => "btn btn-primary btn-sm", :style => "color: white" %>|
   <%= link_to 'Back', lesson_documents_path(@lesson), :class => "btn btn-outline-primary btn-sm" %>
<%end %>
