<h2 class="title mt-5 mb-5 display-3" style="text-align:center">Documents</h2>
<div id="no-more-tables" class="table-responsive card mb-5">
<p>
  <strong>Name:</strong>
  <%= @document.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @document.description %>
</p>

<p>
  <strong>Type</strong>
  <%= @document.kind %>
</p>

<p>
  <strong>Course</strong>
  <%= @document.course %>
</p>

<p>
  <strong>Lesson</strong>
  <%= @document.lesson %>
</p>

<p>
  <strong>File:</strong>
  <td data-title="Document"><br>
    <% if @document.file.attached? %>
      <% if @document.file.representable? %>
      <%= image_tag @document.file.preview(resize_to_fit: [200,200])%>
      <br>
      <%= link_to "View File", @document.file %> 
      <br>
      <%= link_to "Download File", @document.file, download: '' %>
      <% end %>
    <% end %>
</p> 

</div>
<div class="actions">
<%if @course.present? %>   
  <td><%= link_to 'Edit', edit_course_document_path(@course, @document), :class => "btn btn-outline-primary btn-sm" %> | </td>
  <td><%= link_to 'Back (Course)', course_path(@course), :class => "btn btn-primary btn-sm", :style => "color: white" %></td>
<%elsif @lesson.present?%>
  <td><%= link_to 'Edit', edit_lesson_document_path(@lesson, @document), :class => "btn btn-outline-primary btn-sm" %> | </td>
  <td><%= link_to 'Back (Lesson)', course_lesson_path(@lesson), :class => "btn btn-outline-primary btn-sm" %></td>
  <%# <td><%= link_to 'Back (Lesson)', lesson_index_lesson_document_path(@lesson, @id), :class => "btn btn-outline-primary btn-sm" %>
  <%# </td>  %>
<%end %>
</div>


