<%= javascript_pack_tag 'lessons', 'data-turbolinks-track': 'reload' %>

<%= form_for([@course,@lesson]) do |f| %>
  
  <% if lesson.errors.any? %>
    <div id="error_explanation" class="my_alert">
      <h2><%= pluralize(lesson.errors.count, "error") %> prohibited this lesson from being saved:</h2>
      <ul>
      <% lesson.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <label for="course"><%= Course %></label>
    <%= f.collection_select :course_id, Course.all, :id, :title, include_blank: true, :required => true %>
  </div>
  
 <div class="form-group col">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control', :required => true %>  
  </div>
  
  <div class="form-group col">
    <%= f.label :description %>
    <%= f.text_field :description, class: 'form-control', :required => true %>
  </div>
  
  <div class="form-group col">
    <%= f.label :Units%>
    <%= f.text_field :units_covered, class: 'form-control', :required => true %>
  </div>

<%= button_tag 'Add Tag', type: 'button', id: 'addTag', onclick: 'addTagField()' %>
  <br />
  <div id="TagHeader" style="display:none"> 
     Tag Name: 
  </div>
  <br />
  <ul id="myList">
    <% lesson.tags.each do |tag| %>	  
      <% time_stamp = Time.now.to_i %>	  
      <li><%= text_field :existing_tags, :tag_names["#{time_stamp}"], value: tag.name, class: 'form-control' %></li>
    <% end %>
  </ul>

  <div class="form-group col">
    <div class="actions">
      <%= f.submit %>
    </div>
  </div>
  
<% end %>