<div class= "container-fluid">
<%= form_for([@course,@lesson]) do |f| %>
  
  <% if lesson.errors.any? %>
    <div id="error_explanation" class="my_alert">
      <h2><%= pluralize(lesson.errors.count, "error") %> prohibited this lesson from being saved:</h2>
      <ul>
      <% lesson.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <label for="course"><%= Course %></label>
    <%= f.collection_select :course_id, Course.all, :id, :title, include_blank: true, :required => true %>
  </div>
  
 <div class="form-group col">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control', :required => true %>  
  </div>
  
  <div class="form-group col">
    <%= f.label :description %>
    <%= f.text_field :description, class: 'form-control', :required => true %>
  </div>
  
  <div class="form-group col">
    <%= f.label :Units%>
    <%= f.text_field :units_covered, class: 'form-control', :required => true %>
  </div>

  <div class="form-group col">
  <%= f.label :tag_names %>
  <% if @lesson.tags.present? %>
    <% @lesson.tags.each do |tag| %> 
      <%= link_to tag.name, tag_path(tag) %>
    <%end%>
    <% else %>
      <%= text_field_tag :tag_names, "Enter the new tags separated by a comma - Ruby,Technology,Programming", autocomplete: :off, class: 'form-control' %>
    <% end %>
  </div>

  <div class="form-group col">
    <div class="actions">
      <%= f.submit %>
    </div>
  </div>
  
<% end %>
</div>
    <%# <% render partial: "lessons/tags", collection: lesson.tags, locals: { lesson: lesson}%> 
  <%# ANTES %>
    <%# <% @lesson.tags.each do |tag| %> 
      <%# <%byebug%> 
      <%# <%= link_to tag.name, tag_path(tag) %> 
    <%# <% end %> 
      <%# <%= text_field_tag :tag_names, "Enter the new tags separated by a comma - Ruby,Technology,Programming", autocomplete: :off, class: 'form-control' %> 

      <%# <%= text_field_tag :, class: 'form-control' %> 
    <%# <% @lesson.tags.each do |tag| %> 
      <%# <%= text_field_tag :tag_names, class: 'form-control' %> 
      <%# <%= link_to tag.name, tag_path(tag) %> 
    <%# <% end %>

  <%# <% else %> 
    <%# <%byebug%> 
    <%# <%= text_field_tag :tag_names, "Enter your tags separated by a comma - Ruby,Technology,Programming", autocomplete: :off, class: 'form-control' %>  
  <%# <% end %> 


    <%# <%= text_field_tag :tag_names, "Enter your tags separated by a comma - Ruby,Technology,Programming", autocomplete: :off, class: 'form-control' %> 
  
  <%# <%= render 'form', document: @document %> 
<%# <%if @course.present? %>  
  <%# <%= link_to 'Show', course_document_path(@course, @document), :class => "btn btn-primary btn-sm", :style => "color: white" %>
  <%# <%= link_to 'Back', course_documents_path(@course), :class => "btn btn-outline-primary btn-sm" %> 
<%# <%elsif @lesson.present?%> 
   <%# <%= link_to 'Show', lesson_document_path(@lesson, @document), :class => "btn btn-primary btn-sm", :style => "color: white" %>
   <%# <%= link_to 'Back', lesson_documents_path(@lesson), :class => "btn btn-outline-primary btn-sm" %> 
<%# <%end %>
  
  

