<%= javascript_pack_tag 'lessons', 'data-turbolinks-track': 'reload' %>

<!-- Lesson Bottom Accordion Section-->
<div class="container mb-5 move-lessons">
  <% if @lessons.present? %>
    <% @lessons.each do |lessonshow| %>
      <div class="col-lg-12  mb-2 lesson_accordion">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="false">
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne_<%=lessonshow.id%>" aria-expanded="true" aria-controls="collapseOne">
                    <div class=" lesson_title_row  ">
                      <h3><i class="fa fa-solid fa-play icon-play" ></i> Lesson: <%= lessonshow.title.titleize%> </h3>
                      <%# Lesson Favorites %>
                      <div class="lesson-star">
                       <% if lessonshow.title != "New"%>
                         <%fav_lesson = Favorite.where(user_id: current_user, favoritable_type: "Lesson").distinct.pluck :favoritable_id%>
                         <% if fav_lesson.include? lessonshow.id %>
                           <%= link_to(unfavorite_course_lesson_path(course_id: @course.id, lesson_id: lessonshow.id, id: @course.id, source: "lesson_edit")) do  %> 
                             <i class="fas fa-heart fa-xs" style="color:#d13139;"></i>
                           <% end %> 
                         <% else %> 
                           <%= link_to(favorite_course_lesson_path(course_id: @course.id, lesson_id: lessonshow.id, id: @course.id, source: "lesson_edit")) do  %> 
                             <i class="fas fa-heart fa-xs" style="color:gray;"></i>
                           <% end %>                     
                         <%end %>
                       <%end%>
                      <div>
                    </div>
                </a>
              </h4>
            </div>
            <%if lessonshow.title == @lesson&.title %>
              <div id="collapseOne_<%=lessonshow.id%>" class="panel-collapse collapse in show" role="tabpanel" aria-labelledby="headingOne">
            <% else %>
              <div id="collapseOne_<%=lessonshow.id%>" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <% end %>
              <%= form_for([@course,lessonshow]) do |f| %>
                <% if lessonshow.errors.any? %>
                  <div id="error_explanation" class="my_alert">
                    <h2><%= pluralize(lessonshow.errors.count, "error") %> prohibited this lesson from being saved:</h2>
                    <ul>
                    <% lessonshow.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                    <% end %>
                    </ul>
                  </div>
                <% end %>
                <div class="row justify-content-between">
                  <%= f.text_field :title, class: 'lesson-title', :required => true %>
                </div> 
                
                <div >
                  <div class="lesson-description-label "> Description</div>
                  <%= f.text_area :description, cols: 53, rows: 3, class: 'lesson-description-area ', :required => true %>
                </div>
                <div class="container  mb-5">    
                  <% l_id = f.object.id.present? ? f.object.id : 0 %>
                  <%= button_tag 'Add Tag', class: " search_button form-button", type: 'button', id: 'addTag', onclick: "addLessonTagField(#{l_id})"%>
                  <ul id=<%="myLessonList#{l_id}"%> class="row move-lesson-tag-list">
                    <% f.object.tags.each do |tag| %>
                      <% time_stamp = Time.now.to_i %>
                      <li><%= text_field :existing_tags, :tag_names["#{time_stamp}"], value: tag.name, class: 'lesson-tag-fields' %></li>
                    <% end %>
                  </ul>
                  <div class="actions lesson-buttons-position">
                    <% if f.object.id.present? %>
                      <%= f.submit "Update Lesson", {:class => 'search_button form-button'} %>
                      | <%= link_to 'New Document (Lesson)', new_lesson_document_path(f.object.id), :class => "btn search_button doc-button" %>
                    <% else %>
                      <%= f.submit "Create Lesson", {:class => 'search_button form-button'} %>
                    <% end %>
                  </div>
                </div>
                  
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <%end%>
  <%end%>
</div>


