<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TFA Project</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  </head>
  <body>

<p id="notice"><%= notice %></p>

<h1>Lessons</h1>
<%# title:string description:string subject:string course:string state:string district:string rating:integer downloads:integer tags:string %>
<p id="notice"><%= notice %></p>
<h1 class="title mt-5 mb-5 display-3" style="text-align: center;"><%= t ('Lessons') %></h1>
    <div id="no-more-tables" class="table-responsive card mb-5">
    <table class="table table-hover">
  <thead>
    <div class="row">
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Subject</th>
      <th>Course</th>
      <th>State</th>
      <th>District</th>
      <th>Rating</th>
      <th>Downloads</th>
      <th>Tags</th>
      <th colspan="3"></th>
    </tr>
    </div>
  </thead>

  <tbody>
    <% @lessons.each do |lesson| %>
      <div class="row">
      <tr>
        <td><%= lesson.title %></td>
        <td><%= lesson.description %></td>
        <td><%= lesson.subject %></td>
        <td><%= lesson.course %></td>
        <td><%= lesson.state %></td>
        <td><%= lesson.district %></td>
        <td><%= lesson.rating %></td>
        <td><%= lesson.downloads %></td>
        <td><%= lesson.tags %></td>


        <td><%= link_to 'Show', lesson, :class => "btn btn-outline-primary btn-sm" %></td>
        <td><%= link_to 'Edit', edit_lesson_path(lesson), :class => "btn btn-outline-primary btn-sm" %></td>
        <td><%= link_to 'Destroy', lesson, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-outline-primary btn-sm" %></td>
      </tr>
    </div>
    <% end %>
  </tbody>
</table>
</div>
<br>

<%= link_to 'New Lesson', new_lesson_path, :class => "btn btn-outline-primary btn-sm" %>

</body>
</html>