<p id="notice"><%= notice %></p>
<h1 class="title mt-5 mb-5 display-3" style="text-align: center;">Lessons</h1>
    <div id="no-more-tables" class="table-responsive card mb-5">
    <table class="table table-hover">

  <thead>
    <div class="row">
    <tr>
      <th class="h2" style="background:none;">Course</th>
      <th class="h2" style="background:none;">Lesson Title</th>
      <th class="h2" style="background:none;">Description</th>
      <th class="h2" style="background:none;">Units</th>
      <th class="h2" style="background:none;">Tags</th>
      <th colspan="3"></th>
    </tr>
    </div>
  </thead>

  <tbody>
    <% @lessons.each do |lesson| %>
      <div class="row">
      <tr>
        <td data-title="Course"><%= lesson.course_id %></td>
        <td data-title="Title"><%= lesson.title %></td>
        <td data-title="Description"><%= lesson.description %></td>
        <td data-title="Units"><%= lesson.units_covered %></td>
        <td data-title="Tags"><%= lesson.tags %></td>


        <td><%= link_to 'Show', lesson, :class => "btn btn-outline-primary btn-sm" %></td>
        <td><%= link_to 'Edit', edit_lesson_path(lesson), :class => "btn btn-outline-primary btn-sm" %></td>
        <td><%= link_to 'Destroy', lesson, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-outline-primary btn-sm" %></td>
      </tr>
    </div>
    <% end %>
  </tbody>
</table>
</div>
<br>

<%= link_to 'New Lesson', new_lesson_path, :class => "btn btn-outline-primary btn-sm" %>
