<p></p>
<h2 class="title mt-5 mb-5 display-3" style="text-align:center">Lessons</h2>
<div id="no-more-tables" class="table-responsive card mb-5">

<p>
  <strong>Course:</strong>
  <%= @lesson.course_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @lesson.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @lesson.description %>
</p>

<p>
  <strong>Units</strong>
  <%= @lesson.units_covered %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @lesson.tag_list %>
  <%# <% @lesson.tags.each do |tag| %> 
    <%# <%= link_to tag.name, tag_path(tag) %> 
  <%# <% end %> 
</p>

</div>
<%= link_to 'Edit', edit_course_lesson_path(@course, @lesson), :class => "btn btn-outline-primary btn-sm" %> |
<%= link_to 'Documents', lesson_index_lesson_documents_path(@lesson), :class => "btn btn-outline-primary btn-sm" %> |
<%= link_to 'Back', course_lessons_path, :class => "btn btn-outline-primary btn-sm" %>
