
<%= javascript_pack_tag 'courses', 'data-turbolinks-track': 'reload' %>
<div class="container mt-5 ">     
  <%= form_for(@course) do |f| %>
    
      <% if @course.errors.any? %>
        <div id="error_explanation" class="my_alert">
          <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>
          <ul>
          <% @course.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <div class="row big_card">
        
        <!-- Left Side Course-->
        <div class="col-lg-4 mb-5">
          <div class="show_left">
            <div class="row justify-content-between ">
              <%= f.text_field :title, class: 'course-title', :required => true %>
            </div>    
            <div>
              DISTRICT: <%= f.select :district, options_for_select(@districts, @course.district), {}, {:class => 'district-dropdown'} %>
            </div>
            <div>
              SUBJECT: <%= f.select :subject, options_for_select(@subjects, @course.subject), {}, {:class => 'subject-dropdown'}  %>
            </div>
            GRADE:
            <div class='grid-container-filter mb-2 checkbox-format course-checkboxes'>
              <% @available_grade_levels.each do |grade_level|%>
                <%= check_box_tag "grade_levels[#{grade_level.grade_level}]", true, f.object.grades.pluck(:grade_level).include?(grade_level.grade_level)%>
                <%= label_tag grade_level.grade_level, grade_level.grade_level  %>
              <%end%>
            </div>
          </div>
        </div>
        <!-- Right Side Course-->
        <div class="col-lg-8 mt-5 mb-2"> 
          <!-- Course Description Section-->              
          <%= f.text_area :description, cols: 57, rows: (((f.object.description&.length || 0)/57) + 1), placeholder: "Description", class: 'course-description-area', :required => true %>
         
          <!-- Course Right Side Documents Section-->  
          <table class="table">
            <thead>
              <tr>
                <th><span style="color: #1996aa;">COURSE DOWNLOADS</span></th>
                <th style="color: #212529;">TYPE</th>
                <th class="text-center" style="color: #212529;">PREVIEW</th>
                <th class="text-center" style="color: #212529;">DOWNLOAD</th>
              </tr>
            </thead>  
            <% if f.object.id.present? && f.object.documents.any? %>
              <% f.object.documents.each do |document| %>
                <% if document.lesson_id.nil? %>
                  <tbody class="text-center">
                      <tr>
                        <th>
                          <span style="color: #212529;"><%=document.name.titleize%>            
                        </th>             
                        <% if document.file.attached? %>
                          <th>
                            <span style="color: gray"><%=document.kind.upcase%></span>            
                          </th> 
                        <% end %>   
                        <% if document.file.representable? %>
                          <th class="text-center">
                            <%= link_to(document.file) do %>
                              <i class=" fa fa-search" style="color:gray;"></i>
                            <% end %> 
                          </th>       
                        <% end %>
                        <th class="text-center">                       
                          <%= link_to(document.file, download: '') do %>
                            <i class=" fa fa-arrow-down arrow-enter" style="color:gray;"></i>                          
                          <% end %>                     
                        </th>                            
                      </tr>
                    </tbody>
                <% end %>
              <% end %>
            <% end %>
          </table>
        </div>
        <div class="container  mb-5">      
          <%= button_tag 'Add Tag', class: " search_button form-button", type: 'button', id: 'addTag', onclick: 'addTagField()' %>
          <ul id="myList" class="row move-lesson-tag-list ">
            <% @course.tags.each do |tag| %>	  
              <% time_stamp = Time.now.to_i %>	  
              <li><%= text_field :existing_tags, :tag_names["#{time_stamp}"], value: tag.name, class: 'input_tags_buttons' %></li>
            <% end %>
          </ul>
          <div class="actions buttons-position">
            <% if @course&.id.present? %>
              <%= f.submit "Update Course", {:class => 'search_button form-button'} %>
              | <%= link_to 'New Document (Course)', new_course_document_path(@course.id), :class => "btn search_button doc-button" %>
            <% else %>
              <%= f.submit "Create Course", {:class => 'search_button form-button mt-4'} %>
            <% end %>
          </div>
        </div>
      
      </div>

            
        
          
            
            
          
      
      
    
    
  <% end %>
</div>  
