<%= javascript_pack_tag 'courses', 'data-turbolinks-track': 'reload' %>
<%= form_for(course) do |f| %>
  
  <% if course.errors.any? %>
    <div id="error_explanation" class="my_alert">
      <h2><%= pluralize(course.errors.count, "error") %> prohibited this course from being saved:</h2>
      <ul>
      <% course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="form-group col">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control', :required => true %>  
  </div>
  
  <div class="form-group col">
    <%= f.label :description %>
    <%= f.text_field :description, class: 'form-control', :required => true %>
  </div>
  
  <div class="form-group col">
    <%= f.label :subject %>
    <%= f.text_field :subject, class: 'form-control', :required => true %>
  </div>

  <div class="form-group col">
    <%= f.label :grade_level %>
    <%= f.text_field :grade_level, class: 'form-control', :required => true %>
  </div>

  <div class="form-group col">
    <%= f.label :state %>
    <%= f.text_field :state, class: 'form-control', :required => true %>
  </div>

  <div class="form-group col">
    <%= f.label :district %>
    <%= f.text_field :district, class: 'form-control', :required => true %>
  </div>

  <div class="form-group col">
    <%= f.label :start_date %></b><span>*</span>
    <%= f.date_select :start_date, start_year: 2000, end_year: 2050, class: 'form-control', :required => true %>
  </div>

  <div class="form-group col">
    <%= f.label :end_date %></b><span>*</span>
    <%= f.date_select :end_date, start_year: 2000, end_year: 2050, class: 'form-control', :required => true %>
  </div>

  <%= button_tag 'Add Tag', type: 'button', id: 'addTag', onclick: 'addTagField()' %>
  <br />
  <div id="TagHeader" style="display:none"> 
     Tag Name: 
  </div>
  <br />
  <ul id="myList">
  </ul>

  <div class="form-group col">
    <div class="actions">
      <%= f.submit %>
    </div>
  </div>
  
<% end %>
