<%= javascript_pack_tag 'courses', 'data-turbolinks-track': 'reload' %>
<%= form_for(@course) do |f| %>
  
  <% if @course.errors.any? %>
    <div id="error_explanation" class="my_alert">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>
      <ul>
      <% @course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="ml-4">
    <%= f.text_field :title, class: 'form-control', :required => true %>
  </div>

  <div class="form-group ml-4">
    <div class="">
      <%= f.label "DISTRICT:", :class => "text-muted form-check-label move-label" %>
      <%= f.select :district, options_for_select(@districts, @course.district)  %>
    </div>

    <div class="">
      <%= f.label "SUBJECT:", :class => "text-muted form-check-label move-label" %>
      <%= f.select :subject, options_for_select(@subjects, @course.subject)  %>
    </div>

    <div class="row">      
      <h6 class="text-muted form-check-label move-grade-label">GRADE:</h6>
      <div class='grid-container-filter mb-2 checkbox-format'>
        <% @available_grade_levels.each do |grade_level|%>
          <%= check_box_tag "grade_levels[#{grade_level.grade_level}]", true %>
          <%= label_tag grade_level.grade_level, grade_level.grade_level  %>
        <%end%>
      </div>
      
      <!--<%#= f.label :grade_level, :class => "control-label" %>
      <%#= f.select :grade_level, options_for_select(@available_grade_levels, @course.grade_level) %>-->
      <div class="ml-4 move-description">
        <div><%= f.label :description, :class => "text-muted form-check-label move-label" %></div>
        <%= f.text_area :description, cols: 90, rows: 10, class: '', :required => true %>
      </div>
    </div>
  </div>
  
  <div class="pl-4">
    <div class="">
      <%= button_tag 'Add Tag', type: 'button', id: 'addTag', onclick: 'addTagField()' %>
      <ul id="myList" class="move-tag-list">
        <% @course.tags.each do |tag| %>	  
          <% time_stamp = Time.now.to_i %>	  
          <li><%= text_field :existing_tags, :tag_names["#{time_stamp}"], value: tag.name, class: 'form-control' %></li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="form-group pl-4">
    <div class="actions">
      <%= f.submit %>
      <% if @course&.id.present? %>
        | <%= link_to 'New Document (Course)', new_course_document_path(@course.id), :class => "btn btn-outline-primary btn-sm" %>
      <% end %>
    </div>
  </div>
  
<% end %>
