<div class="row row-cols-1 row-cols-lg-3 ">
  <div class="col lesson_clickable">    
        <li class="card-text"><%= @lesson.description %></li>
        <table class="table">
        <thead>
          <tr>
            <th scope="col"><span style="color: #1996aa">LESSON DOWNLOADS</span></th>
            <th scope="col">TYPE</th>
            <th scope="col">PREVIEW</th>
            <th scope="col">DOWNLOAD</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">
              <%=@lesson.title%>            
            </th>
            
            <%= form_tag download_course_path(@course), :method => 'get', id: "form-download", enforce_utf8: false do %>       
              <% if @course.documents.any? %>                
                <% @course.documents.each do |document| %>              
                  <% if document.file.attached? %>
                    <td>
                      <%= check_box_tag "document_ids[]", document.id, false, class: "checkbox" %>
                      <% document.kind %>
                    </td>

                    <% if document.file.representable? %>
                      <td>
                        <%= image_tag document.file.preview(resize_to_fit: [100,100])%>
                        <%= link_to "View File", document.file %> 
                      </td>
                      <td>
                      <%= link_to "Download File", document.file, download: '' %>
                      <div>
                        <button type="button" class="btn btn-warning" id="btn_download">
                          <i class="far fa-address-book"></i> Download
                        </button>
                      </div>
                      </td>
                    <% end %>
                  <% end %>             
                <% end %>            
              <% end %>
            <% end %>         
          </tr>
        </tbody>
      </table>      
        <!-- Documents Lessons-->
        <div>
          
            <% if lesson.documents.any? %>
               <% lesson.documents.each do |document| %>
                 <div>
                   <strong>File:</strong>
                   <td data-title="Document"><br>
                     <% if document.file.attached? %>
                       <%= check_box_tag "selected_documents_ids[]", document.id %>
                       <% document.id %>
                       <% if document.file.representable? %>
                         <%= image_tag document.file.preview(resize_to_fit: [75,75])%>
                         <br>
                         <%= link_to "View File", document.file %> 
                         <br>
                         <%= link_to "Download File", document.file, download: '' %>
                       <% end %>
                     <% end %>
                   </td>
                 </div>
               <% end %>
              <div class="input-group-btn ">
                <%= submit_tag "Download Documents", :class => 'btn btn-outline-primary my-2 my-sm-0' %>
              </div>               
            <% end %>
          <% end %>
        </div>
      
    
  </div>
</div>

<script>
var btn_download = document.getElementById('btn_download');
var form = document.getElementById('form-download');

  //get the checkboxes
  var checkboxes = document.getElementsByClassName("checkbox");
  for(i=0;i < checkboxes.length; i++){
    checkboxes[i].addEventListener("click", function() {
    var checkboxesSelected = document.querySelectorAll('input[type=checkbox]:checked')
    if (checkboxesSelected.length > 0) {
        btn_download.disabled = false;
      }
    else{
        btn_download.disabled = true;
      }
    });
  }

    //when it click to the button download zip
    btn_download.addEventListener("click", function() {
       form.submit();
     });
</script>

