<div class="custom-container container-fluid ">    
  <div class="ml-2 row">
    <div class="col-6"><h1>Courses</h2></div>
    <div class="col-6 justify-content-end">  
      <%= render 'layouts/search_courses' %>
    </div>
  </div>   
  <div class="table-responsive">    
    <table class="ml-4 table table-striped admin_table table-sm">
      <thead>    
        <tr>
          <th scope="col"><span style="color:gray">NAME </span><i class=" fa fa-caret-down table_down_arrow"</i></th>
          <th scope="col"><span style="color:gray">AUTHOR </span><i class=" fa fa-caret-down table_down_arrow"</i></th>
          <th scope="col"><span style="color:gray">ADDED </span><i class=" fa fa-caret-down table_down_arrow"</i></th>
          <th scope="col"><span style="color:gray">STATUS </span><i class=" fa fa-caret-down table_down_arrow"</i></th>  
          <th scope="col"></th>   
        </tr>          
      </thead>
      <tbody>
        <% @courses.each do |course| %>      
          <tr class="clickable-row" data-link="<%=course_path(course.searchable_id)%>">
            <td class="admin_table_title"><%=course.title%></td>
            <td><%= course.last_name %></td>
            <td data-title="Date"><%= course.created_at.to_date.strftime("%B %d, %Y")%></td> 
            <% if @flags.pluck(:flagable_id).include? course.searchable_id %>
              <% flag = @flags.select{|x| x.flagable_id == course.searchable_id}[0] %>
              <td>
                <button class="tooltip_button" data-balloon-pos="left" data-balloon-length="medium" aria-label="<%= flag.description %>" data-balloon-pos="up">Blocked</button>
              </td>
              <% else %>  
              <td data-title="State"> Live</td> 
            <% end %>
          </tr>               
        <% end %>
      </tbody>      
    </table>
  </div>  
</div>
