

<div class="container mt-5 ">
    
      <!-- Button Back Section-->   

      <div class="show_button_section btn btn_show_back">        
        <%= link_to courses_path do  %>         
          <i class=" fa fa-caret-left " style="color:gray;"></i>            
          <span style="color: gray">BACK TO SEARCH RESULTS</span>
        <% end %>
      </div>
                       
    
  <div class="row big_card">
    <div class="card-header"></div> 

    <!-- Left Side Course-->
    <div class="col-lg-4">
      <!-- Course header-->
      <div class="show_left">
        <h1 class="mb-2 mt-4"><%= @course.title %></h1>
        <div><span style="color: gray">SUBJECT:</span> <b><%= @course.subject%></b></div>
        <div class="mb-4" ><span style="color: gray">GRADE: </span><b><%= @course.grade_level %></b></div>  
        <div class= "mt-2">
        <!-- Tags-->
          <% @course.tags.each do |tag| %>           
            <span style="background-color:white;color: gray;padding:2px;font-size:12px;"><%= tag.name.capitalize %></span>       
          <% end %>     
        </div>     
      </div>      
    </div>


    <!-- Right Side Course-->
    <div class="col-lg-8 mt-5 mb-2">  
      <!-- Course Description Section-->
      <div class="mb-3 course_show_description">
        <p>
          <%= @course.description %>     
        </p>
      </div> 

      <!-- Course Right Side Documents Section-->      
      <%= form_tag course_path(@course), :method => 'get', enforce_utf8: false do %>       
        <% if current_user&.role == 'teacher' || current_user&.role == 'admin'%>
    
          
          <%= form_tag download_course_path(@course), :method => 'get', id: "form-download", enforce_utf8: false do %>       
            <table class="table">
              <thead>
                <tr>
                  <th scope="col"><span style="color: #1996aa;">COURSE DOWNLOADS</span></th>
                  <th scope="col">TYPE</th>
                  <th class="text-center" scope="col">PREVIEW</th>
                  <th class="text-center" scope="col">DOWNLOAD</th>
                </tr>
              </thead>
              
              <% if @course.documents.any? %>                
                <% @course.documents.each do |document| %> 
                  <tbody class="text-center">
                    <tr>
                      <th scope="row">
                        <%=document.name.titleize%>            
                      </th>             
                      <% if document.file.attached? %>
                        <th scope="row">
                          <span style="color: gray"><%=document.kind.upcase%></span>            
                        </th> 
                      <% end %>   
                      <% if document.file.representable? %>
                        <th class="text-center" scope="row">
                          <%= link_to(document.file) do %>
                            <i class=" fa fa-solid fa-file-image" style="color:gray;"></i>
                          <% end %> 
                        </th>       
                      <% end %>
                     
                      <th class="text-center" scope="row">                       
                        <%= link_to(document.file, download: '') do %>
                          <i class=" fa fa-arrow-down arrow-enter" style="color:gray;"></i>                          
                        <% end %>                     
                      </th>                            
                    </tr>
                  </tbody>                   
                <% end %>             
              <% end %> 
            </table>             
          <% end %>
        <% end %>         
      <% end %> 
    </div>  
                
  
    <!-- Lesson Bottom Accordion Section-->  
    <div class="container  mb-5">
      <% if @course.lessons.present? %>
        <% @course.lessons.each do |lessonshow| %>
          <div class="col-lg-12  mb-2 lesson_accordion">  
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="false">              
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                  <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne_<%=lessonshow.id%>" aria-expanded="true" aria-controls="collapseOne">
                      <% if current_user&.role == 'teacher' || current_user&.role == 'admin'%>                
                        <div class=" lesson_title_row  ">                                                       
                          <h3><i class="fa fa-solid fa-play icon-play" ></i>   Lesson: <%= lessonshow.title.titleize%> </h3>                                             
                        </div>                   
                      <% end %>            
                    </a>
                  </h4>
                </div>
                <div id="collapseOne_<%=lessonshow.id%>" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                  <div class="lesson_show_description"><p><%= lessonshow.description %></div>
                    <div class="panel-body">
                      <% if lessonshow.present? %>
                        <% lessonshow.documents.each do | lessondocument| %>                                        
                          <table class="table ">
                            <thead>
                              <tr>
                                <th scope="col"><span style="color: #1996aa">LESSON DOWNLOADS</span></th>
                                <th scope="col">TYPE</th>
                                <th class="text-center" scope="col">PREVIEW</th>
                                <th class="text-center" scope="col">DOWNLOAD</th>
                              </tr>                        
                            </thead>
                            <tbody>
                              <tr>
                                <th scope="row">
                                  <%= lessondocument.name.titleize %>
                                </th>
                                <% if lessondocument.file.attached? %>
                                  <th scope="row">
                                  <span style="color: gray"><%= lessondocument.kind.upcase %></span>
                                  </th>
                                <% end %> 
                                <% if lessondocument.file.representable? %>
                                  <th class="text-center" scope="row">                                
                                    <%= link_to (lessondocument.file) do %>
                                      <i class=" fa fa-solid fa-file-image" style="color:gray;"></i> 
                                    <% end %>   
                                  </th>
                                <%end%>                        
                                <th class="text-center" scope="row">
                                  <%= link_to(lessondocument.file, download: '') do %>
                                    <i class=" fa fa-arrow-down arrow-enter" style="color:gray;"></i>                          
                                  <% end %>  
                                </th>                                
                              </tr>
                            </tbody>                            
                          </table>                     
                        <% end %>
                      <% end %>  
                    </div>
                  </div>
                </div>
                             
            </div>
          </div>
        <%end%>
      <%end%>
    </div>
       

  </div> 

</div> 





 


















