<h2 class="title mt-5 mb-5 display-3" style="text-align:center">Courses</h2>
<div id="no-more-tables" class="table-responsive card mb-5">
<p>
  <strong>Title:</strong>
  <%= @course.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @course.description %>
</p>

<p>
  <strong>Subject</strong>
  <%= @course.subject %>
</p>

<p>
  <strong>Grade Level:</strong>
  <%= @course.grade_level %>
</p>

<p>
  <strong>State:</strong>
  <%= @course.state %>
</p>

<p>
  <strong>District:</strong>
  <%= @course.district %>
</p>

<p>
  <strong>Start Date:</strong>
  <%= @course.start_date %>
</p>

<p>
  <strong>End Date:</strong>
  <%= @course.end_date %>
</p>
</div>

<%= link_to 'Edit', edit_course_path(@course), :class => "btn btn-outline-primary btn-sm" %> |
<%= link_to 'Back', courses_path, :class => "btn btn-outline-primary btn-sm" %>

</div>