<div class="container mt-5 ">    
  <!-- Button Back Section & Pencil-->   
  <div class="row top_session">
    <div class="col-8">
        <div class="show_button_section btn btn_show_back">  
        
            <%= link_to search_page_path(search: params[:search], subject: params[:subject], district: params[:district], selected_grades: params[:selected_grades], mycontent: params[:mycontent], favorites: params[:favorites], courses: params[:courses], lessons: params[:lessons]  ) do  %> 
              <i class=" fa fa-caret-left " style="color:gray;"></i>     
                    
              <span style="color: gray">BACK TO SEARCH RESULTS </span>
           
              <% end %>    
        </div> 
    </div> 
    <div class="col-4 ">
      <% if current_user == @course.user || current_user&.role == 'admin'%>                   
        <%= link_to(course_lesson_form_courses_path(course_id: @course.id)) do %> 
          <div class="pencil_session">
            <i class=" fa fa-pencil-alt pencil_edit"></i> 
          </div> 
        <%end%>  
      <% end %>             
    </div> 
  </div>        
     
  <div class="row big_card">
    <div class="card-header"></div> 

    <!-- Left Side Course-->
    <div class="col-lg-4 mb-5">
      <!-- Course header-->
      <div class="show_left">
        <h1 class="mb-2 mt-4"><%= @course.title %>        
        <% if current_user == @course.user || current_user&.role == 'admin'%>
          <%= link_to(course_lesson_form_courses_path(course_id: @course.id)) do %>
            <i class=" fa fa-pencil-alt pencil_edit"></i>
          <% end %> 
          <%= link_to(course_path(id: @course.id), method: :delete, data: { confirm: 'Are you sure?' }) do %>
            <i class=" fa fa-trash-alt trash_delete"></i>
          <% end %>       
        <%end%>
        
 
        <div class= "mt-2" style="font-size:14px;"><span style="color: gray; margin-right: 6px;">SUBJECT</span> <b><%= @course.subject.upcase%></b></div>
        <div style="font-size:14px;"><span style="color: gray; margin-right: 20px;">GRADE</span><b><%= @course.grades.pluck(:grade_level).join(', ') %></b></div>  
        <div style="font-size:14px;"><span style="color: gray; margin-right: 10px;">AUTHOR</span><b><%= @course.user.name.upcase %></b></div>
        <!-- Tags-->
        <div class= "mt-2 mb-4">          
          <% @course.tags.each do |tag| %>           
            <span style="background-color:white;color: gray;padding:2px;font-size:12px;"><%= tag.name.capitalize %></span>       
          <% end %>     
        </div>  
        <div class="mt-2 "<span style="color: gray;font-size:10px; font-style:italic;">Uploaded on <%= @course.created_at.to_date.strftime("%B %d, %Y")%></span></div>
        <div><span style="color: gray;font-size:10px; font-style:italic;">Last Edited on <%= @course.updated_at.to_date.strftime("%B %d, %Y")%> </span></div>
      </div>      
    </div>

    <!-- Right Side Course-->
    <div class="col-lg-8 mt-5 mb-2 mr-auto">  
      <!-- Course Description Section-->
      <div class="star"> 
        <%fav_course = Favorite.where(user_id: current_user, favoritable_type: "Course").distinct.pluck :favoritable_id%>
        <% if fav_course.include? @course.id %>
          <%= link_to(unfavorite_course_path(source: "course_show")) do  %> 
            <i class="fas fa-heart fa-lg mt-4 mr-4" style="color:#d13139;"></i>
          <% end %> 
        <% else %> 
          <%= link_to(favorite_course_path(source: "course_show")) do  %> 
            <i class="fas fa-heart fa-lg mt-4 mr-4" style="color:gray;"></i>
          <% end %>                     
        <%end %>
      </div>

      <div class="mb-3 course_show_description">
        <p>
          <%= @course.description %>     
        </p>
      </div> 

      <!-- Course Right Side Documents Section-->      
      <%= form_tag course_path(@course), :method => 'get', enforce_utf8: false do %>       
        <% if current_user&.role == 'teacher' || current_user&.role == 'admin'%>
    
          
          <%= form_tag download_course_path(@course), :method => 'get', id: "form-download", enforce_utf8: false do %>       
            <table class="table">
              <thead>
                <tr>
                  <th class=" blue_downloads" scope="col"><span style="color: #1996aa; ">COURSE DOWNLOADS</span></th>
                  <th scope="col">TYPE</th>
                  <th scope="col">PREVIEW</th>
                  <th scope="col">DOWNLOAD</th>
                </tr>
              </thead>
              
              <% if @course.documents.any? %>                
                <% @course.documents.each do |document| %> 
                  <% if document.lesson_id.nil? %>      
                    <tbody >
                      <tr>
                        <th class=" mobile_document_title" scope="row">
                          <%=document.name.titleize%>
                        </th>
                              
                        <% if document.file.attached? %>
                          <th class=" doc_type" scope="row">
                            <span class="badge badge-primary d-none d-sm-inline d-md-none" style="color: gray"><%=document.kind.upcase%></span>            
                          </th> 
                        <% end %>   
                        <% if document.file.representable? %>
                          <th class="search_icon" scope="row">
                            <%= link_to(document.file) do %>
                              <i class=" fa fa-search" style="color:gray;"></i>
                            <% end %> 
                          </th>       
                        <% end %>
                       
                        <th class="download_icon text-center" scope="row"> 
                           <%# CREATE THE LOG %>
                          <%= link_to(log_course_path(id: @course.id, document_id: document.id)) do %>
                           <i class=" fa fa-arrow-down " style="color:gray;"></i>                          
                          <% end %>                     
                        </th>                            
                      </tr>
                    </tbody>
                  <% end %>
                <% end %>             
              <% end %> 
            </table>             
          <% end %>
        <% end %>         
      <% end %> 
    </div>             
  
    
    <!-- Lesson Bottom Accordion Section-->  
    <div class="container  mb-5">
      <% if @course.lessons.present? %>
        <% @course.lessons.each do |lesson_show| %>
          <div class="col-lg-12  mb-2 lesson_accordion" id="lesson<%=lesson_show.id%>">  
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="false">              
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                  <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne_<%=lesson_show.id%>" aria-expanded="true" aria-controls="collapseOne">
                      <% if current_user&.role == 'teacher' || current_user&.role == 'admin'%>
                        <div class=" lesson_title_row  ">
                          <h3><i class="fa fa-solid fa-play icon-play" ></i>   Lesson: <%= lesson_show.title.titleize%></h3>
                          <div class="lesson-star">
                            <%fav_lesson = Favorite.where(user_id: current_user, favoritable_type: "Lesson").distinct.pluck :favoritable_id%>
                            <% if fav_lesson.include? lesson_show.id %>
                              <%= link_to(unfavorite_course_lesson_path(course_id: @course.id, lesson_id: lesson_show.id, id: @course.id, source: "lesson_show")) do  %>
                                <i class="fas fa-heart fa-xs" style="color:#d13139;"></i>
                              <% end %>
                            <% else %>
                              <%= link_to(favorite_course_lesson_path(course_id: @course.id, lesson_id: lesson_show.id, id: @course.id, source: "lesson_show")) do  %>
                                <i class="fas fa-heart fa-xs" style="color:gray;"></i>
                              <% end %>
                            <%end %>
                          </div>
                        </div>
                      <% end %>
                    </a>
                  </h4>
                </div>
                <%if lesson_show.title == @lesson&.title %>
                  <div id="collapseOne_<%=lesson_show.id%>" class="panel-collapse collapse in show" role="tabpanel" aria-labelledby="headingOne">
                <% else %>  
                  <div id="collapseOne_<%=lesson_show.id%>" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <% end %>
                  <div class="lesson_show_description"><p><%= lesson_show.description %></div>
                    <div class="panel-body">
                    <div class="col-lg-8">  
                      <table class="table">
                            <thead>
                              <tr>
                                <th class=" blue_downloads" scope="col"><span style="color: #1996aa">LESSON DOWNLOADS</span></th>
                                <th scope="col">TYPE</th>
                                <th class="text-center" scope="col">PREVIEW</th>
                                <th class="text-center" scope="col">DOWNLOAD</th>
                              </tr>                        
                            </thead>
                        <% if lesson_show.present? %>
                          <% lesson_show.documents.each do | lesson_document| %>                            
                            <tbody>
                              <tr>
                                <th class=" mobile_document_title" scope="row">
                                  <%= lesson_document.name.titleize %>
                                </th>
                                <% if lesson_document.file.attached? %>
                                  <th scope="row">
                                  <span style="color: gray"><%= lesson_document.kind.upcase %></span>
                                  </th>
                                <% end %> 
                                <% if lesson_document.file.representable? %>
                                  <th class="search_icon text-center" scope="row">                                
                                    <%= link_to (lesson_document.file) do %>
                                      <i class=" fa fa-search" style="color:gray;"></i> 
                                    <% end %>   
                                  </th>
                                <%end%>                        
                                <th class="text-center download_icon" scope="row">
                                  <%# CREATE LOG FOR LESSONS %>
                                  <%= link_to(log_course_path(id: @course.id, document_id: lesson_document.id)) do %>
                                    <i class=" fa fa-arrow-down arrow-enter" style="color:gray;"></i>                          
                                  <% end %>  
                                </th>                                
                              </tr>
                            </tbody>  
                          <% end %>
                        <% end %>                            
                      </table>                     
                    </div>
                    </div>
                  </div>
                </div>                             
            </div>
          </div>
        <%end%>
      <%end%>
    </div>
  </div>
</div> 


















