<div class="container mt-5">
  <div class="row">
    <div class="col-lg-6">
      <!-- Course header-->
      <div  class="mb-2">
        <h1 class="fw-bolder  mt-5 mb-2"><%= @course.title %></h1>
        <div class="badge bg-secondary text-decoration-none link-light"><%= @course.subject %></div>
        <div class="badge bg-secondary text-decoration-none link-light"><%= @course.grade_level %></div>
        <div class="badge bg-secondary text-decoration-none link-light"><%= @course.state %></div>
        <div class="badge bg-secondary text-decoration-none link-light"><%= @course.district %></div>
        <h>Tags:</strong>
          <% @course.tags.each do |tag| %>
            <ul>
              <a class="badge bg-secondary text-decoration-none link-light" href="#!"><%= link_to tag.name, tag_path(tag) %></a>
            </ul>
          <% end %>     
      </div> 

      <!-- Description Section-->
      <section class="mb-5">
       <h2>Course Description:</h2>  
       <p>
        <%= @course.description %>
        </p>
      </section>

      <!-- Documents Section-->
      <section class="mb-5">
        <h4>Documents for this Course:</h4>  
        <% @course.documents.each do |document| %>          
          <button class="btn btn-info btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= document.name %> 
          </button>  
          <%= image_tag(document.file.preview(resize_to_fit: [100,100])) %>
        <% end %>
      </section>
    </div>
      <!-- Side Lessons-->
    <div class="col-lg-6 mt-5">       
      <%= form_tag course_path(@course), :method => 'get', enforce_utf8: false do %>
        <div class="form-inline">
          <% if current_user&.role == 'teacher' %>
            <div class="input-group">
              <% lesson_titles = @course.lessons.pluck(:title) %>
              <%= select_tag :lesson_id, options_from_collection_for_select(@course.lessons, :id, :title) %> 
            </div>
            <div class="input-group-btn">
              <%= submit_tag "View Lesson", :class => 'btn btn-outline-primary my-2 my-sm-0' %>
            </div>
          <% end %>
        </div>
      <% end %>

      <!-- Lesson card-->
      <div class="card mb-4 mt-4 ">
        <%#byebug %>
        <% if @lesson.present? %>
          <%= render 'lesson', lesson: @lesson %>
        <% end %>
      </div>      
    </div>

    <div class="row mx-auto py-3">
      <%= link_to 'Edit', edit_course_path(@course), :class => "btn btn-outline-primary btn-sm" %> |
      <%= link_to 'Back', courses_path, :class => "btn btn-outline-primary btn-sm" %>|

      <%= link_to 'Lessons', course_lessons_path(@course), :class => "btn btn-outline-primary btn-sm" %>
      <%= link_to 'Documents', course_index_course_documents_path(@course) , :class => "btn btn-outline-primary btn-sm" %>
    </div>
  </div>
</div>
