<nav class="navbar navbar-expand-md  fixed-top ">
  <div class="container-fluid ">
    <% if params[:action] != 'landing_page' %>
      <div class="logo_end">
        <a class="navbar-brand logo_gen" href="/"><img src="/assets/LessonPlanLibrary-Logo.png"> </a>
      </div>             
    <%end%>
    <button class="navbar-toggler nav-link" data-toggle="collapse" data-target="#navbarMenu">
      <span class="navbar-toggler-icon"></span>
    </button>

      <div class="collapse navbar-collapse " id="navbarMenu">
        <ul class="navbar-nav ml-auto all_nav_items">
          <li class='nav-item  '><%= link_to 'SEARCH', search_page_path, class: 'nav-link right_list position-search' %></li>
          <li class='nav-item  '><%= link_to 'ABOUT', search_page_path, class: 'nav-link right_list position-about' %></li>
          <% if current_user && !current_user.role.blank? %>
            <div class="user-container">
            <li class="nav-item dropdown">
              <a class="nav-link user-icon-text" style="color:#1996aa;" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%="#{current_user.first_name[0].upcase}#{current_user.last_name[0].upcase}"%>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <div class="triangle-border"></div>
                <div class="triangle"></div>
                <%= link_to 'MY CONTENT', search_page_path(mycontent: true), class: 'dropdown-item' %>
                <%= link_to 'FAVORITES', search_page_path(favorites: true), class: 'dropdown-item' %>
                <%= link_to "SIGN OUT", destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
              </div>
            </li>
            </div>
          <% else %>
            <li class="navbar-nav ml-auto right_list">
              <div class='nav-item  '><%= link_to 'Login', new_user_session_path, class: 'nav-link' %></div>
              <div class='nav-item '><%= link_to 'Register', new_user_registration_path, class: 'nav-link' %></div>
            </li>
          <% end %>
        </ul>
      </div>
  </div>
</nav>

<<<<<<< HEAD
=======
      <div class="collapse navbar-collapse " id="navbarMenu">  
        <ul class="navbar-nav ml-auto all_nav_items"> 
          <li class='nav-item  '><%= link_to 'SEARCH', search_page_path, class: 'nav-link right_list' %></li>
          <li class='nav-item  '><%= link_to 'MYCONTENT', search_page_path, class: 'nav-link right_list' %></li>
          <li class='nav-item  '><%= link_to 'FAVORITED', search_page_path, class: 'nav-link right_list' %></li>
          <li class='nav-item  '><%= link_to 'ABOUT', search_page_path, class: 'nav-link right_list' %></li>     
            <% if current_user && !current_user.role.blank? %>          
              <li class="navbar-nav ml-auto">                  
                <div class='nav-item menu-right justify-content-end right_list'><%= link_to 'SIGN OUT', destroy_user_session_path, method: :delete, class: 'nav-link' %></div>     
              </li>    
            <% else %>    
              <li class="navbar-nav ml-auto right_list">       
                <div class='nav-item  '><%= link_to 'LOGIN', new_user_session_path, class: 'nav-link' %></div>
                <div class='nav-item '><%= link_to 'REGISTER', new_user_registration_path, class: 'nav-link' %></div>    
              </li>  
            <% end %>    
        </ul>      
      </div>     
  </div> 
</nav>      
    
>>>>>>> 934a216563b3b13256a9cfad2b9c73e6ce670895

