<nav class="navbar navbar-expand-md  fixed-top ">
  <div class="container-fluid ">
    <button class="fancy-toggler navbar-toggler nav-link" data-toggle="collapse" data-target="#navbarMenu">
      <span class="navbar-toggler-icon "></span>
    </button>
    <% if params[:action] != 'landing_page' %>
      <div class="logo_end">
        <a class="navbar-brand logo_gen" href="/"><img src="/assets/LessonPlanLibrary-Logo.png"> </a>
      </div>             
    <%end%>
    <div class="collapse navbar-collapse " id="navbarMenu">
      <ul class="navbar-nav ml-auto">
        <li class='nav-item  '><%= link_to 'SEARCH', search_page_path, class: 'nav-link right_list position-search' %></li>
        <li class='nav-item  '><%= link_to 'ABOUT', about_page_path, class: 'nav-link right_list position-about' %></li>
        <% if current_user && !current_user.role.blank? %>
          <div class="user-container">
            <li class="nav-item dropdown">              
                <a class="nav-link user-icon-text"  href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <%="#{current_user.first_name[0].upcase}#{current_user.last_name[0].upcase}"%>
                </a>              
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <div class="triangle-border"></div>
                <div class="triangle" ></div>                
                <% if current_user.role == "admin" %>             
                  <%= link_to 'ADMIN:USER', users_path, class: 'dropdown-item' %>
                  <%= link_to 'ADMIN:COURSES', courses_path , class: 'dropdown-item' %>
                  <%= link_to 'ADMIN:LESSONS', lessons_path, class: 'dropdown-item' %>
                <%end%>                
                <% if current_user && !current_user.role.blank? %> 
                  <%= link_to 'FAVORITES', search_page_path(favorites: true, search: params[:search], subject: params[:subject], district: params[:district], selected_grades: params[:selected_grades].to_s), class: 'dropdown-item' %>
                  <% if current_user.role == "admin" || current_user.role == "creator" %>
                    <%= link_to 'MY MATERIAL', search_page_path(mycontent: true, search: params[:search], subject: params[:subject], district: params[:district], selected_grades: params[:selected_grades].to_s), class: 'dropdown-item' %>
                    <%= link_to 'CREATE', course_lesson_form_courses_path, class: 'dropdown-item' %>
                  <%end%>
                  <%= link_to 'MY ACCOUNT', user_edit_path(current_user.id), class: 'dropdown-item' %>
                  <%= link_to "SIGN OUT", destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
                <%end%>                  
              </div>
            </li>
          </div>
        <% else %>
          <li class="navbar-nav ml-auto right_list">
            <div class='nav-item  '><%= link_to 'LOGIN', new_user_session_path, class: 'nav-link' %></div>
            <div class='nav-item '><%= link_to 'REGISTER', new_user_registration_path, class: 'nav-link' %></div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
