
<nav class="navbar navbar-expand-md  fixed-top ">
  
    <% if params[:action] != 'landing_page' %>
      <a class="navbar-brand" href="/">Teach for America</a>       
    <%end%>
    <button class="fancy-toggler navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
      <span class="navbar-toggler-icon"></span>
    </button> 

      <div class="collapse navbar-collapse " id="navbarMenu">  
        <ul class="navbar-nav ml-auto all_nav_items"> 
          <li class='nav-item  '><%= link_to 'SEARCH', new_user_session_path, class: 'nav-link right_list' %></li>
          <li class='nav-item  '><%= link_to 'ABOUT', new_user_session_path, class: 'nav-link right_list' %></li> 
          <li class='nav-item'><%= link_to 'MY COURSES', courses_path, class: 'nav-link' %></li>    
            <% if current_user && !current_user.role.blank? %>          
              <li class="navbar-nav mr-auto">                  
                <div class='nav-item menu-right justify-content-end right_list'><%= link_to 'SIGN OUT', destroy_user_session_path, method: :delete, class: 'nav-link' %></div>     
              </li>    
            <% else %>    
              <li class="navbar-nav mr-auto right_list">       
                <div class='nav-item  '><%= link_to 'LOGIN', new_user_session_path, class: 'nav-link' %></div>
                <div class='nav-item '><%= link_to 'REGISTER', new_user_registration_path, class: 'nav-link' %></div>    
              </li>  
            <% end %>    
        </ul>      
      </div>     
  
</nav>      
    

    
            
        
       
      
