
<nav class="navbar navbar-expand-md  fixed-top ">
  <div class="container-fluid ">
    <% if params[:action] != 'landing_page' %>
      <a class="navbar-brand right_list" href="/">Teach for America</a> 
    <%end%>
    <button class="navbar-toggler nav-link" data-toggle="collapse" data-target="#navbarMenu">
      <span class="navbar-toggler-icon"></span>
    </button> 

      <div class="collapse navbar-collapse " id="navbarMenu">  
        <ul class="navbar-nav ml-auto all_nav_items"> 
          <li class='nav-item  '><%= link_to 'Search', new_user_session_path, class: 'nav-link right_list' %></li>
          <li class='nav-item  '><%= link_to 'About', new_user_session_path, class: 'nav-link right_list' %></li>     
            <% if current_user && !current_user.role.blank? %>          
              <li class="navbar-nav ml-auto">                  
                <div class='nav-item menu-right justify-content-end right_list'><%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'nav-link' %></div>     
              </li>    
            <% else %>    
              <li class="navbar-nav ml-auto right_list">       
                <div class='nav-item  '><%= link_to 'Login', new_user_session_path, class: 'nav-link' %></div>
                <div class='nav-item '><%= link_to 'Register', new_user_registration_path, class: 'nav-link' %></div>    
              </li>  
            <% end %>    
        </ul>      
      </div>     
  </div> 
</nav>      
    

    
            
        
       
      
