<div class="row mx-auto  justify-content-start mb-4">
  <div class="col">    
      <%= form_tag search_page_path, :method => 'get', enforce_utf8: false do %>
        <div class="row mb-4">
          <div class="input-group center-items"> 
          <%= hidden_field_tag :subject, params[:subject]%>    
          <%= hidden_field_tag :district, params[:district]%>            
          <%= hidden_field_tag :selected_grades, params[:selected_grades] %>  
          <%= hidden_field_tag :mycontent, params[:mycontent] %> 
          <%= hidden_field_tag :favorites, params[:favorites] %> 
          <%= hidden_field_tag :courses, params[:courses] %> 
          <%= hidden_field_tag :lessons, params[:lessons] %> 
          <%= search_field_tag :search, params[:search], placeholder: 'Search for a topic...', class: " form-control form-control-lg right-arrow", style:'width: 50%' %>
              <button class="btn-lg my-0 search_button">SEARCH <i class="fa fa-solid fa-play yellow-icon-play"></i></button>
          </div>
        </div>
      <% end %>    
  </div>
</div>
