<!DOCTYPE html>
<html>
  <head>
    <title>Teach for America Project</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%# <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %> 
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
  </head>

  <body>
    </header>
    <%= render 'layouts/navigation' %>
    </header>
<!--    <%# if notice %>
      <p class="notice"><%#= notice %></p>
    <%# elsif alert %>
      <p class="alert"><%#= alert %></p>
      <%# end %>-->
    <main>
      <% if notice %>
        <div id="notice_wrapper">
        <h1>p</h1>
        <h5 class="notice mt-5 mb-5 lead" style ="text-align: center;"><%= notice %></h5>
        </div>
      <% elsif alert %>
        <div id="notice_wrapper">
          <p class="alert"> <%= alert %> </p> 
        </div>
      <% end %>


      <%= yield %>
    </main class="flex-shrink-0" role="main">

    <footer class="fixed-bottom d-flex justify-content-center">
      <%#= render 'layouts/footer' %>
    </footer>
    <!-- JQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
  </body>
  <script type="text/javascript" > 
    function fadeOutEffect() {
      var fadeTarget = document.getElementById("notice_wrapper");
      console.log ("fadeTarget"); 
      var fadeEffect = setInterval(function () {
          if (!fadeTarget.style.opacity) {
              fadeTarget.style.opacity = 1;
          }
          if (fadeTarget.style.opacity > 0) {
              fadeTarget.style.opacity -= 0.1;
          } else {
              clearInterval(fadeEffect);
          }
      }, 200);
    }
    document.getElementById("notice_wrapper").addEventListener('click', fadeOutEffect);
  </script> 
</html>

