<!DOCTYPE html>
<html>
  <head>
    <title>Teach for America Project</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%# <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %> 
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">  
    <link rel="stylesheet" href="https://unpkg.com/balloon-css/balloon.min.css">
    <!-- JQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
  </head>

  <body>
    <% if notice %>
      <div id="notice_wrapper">
        <%# Adjust below the NavBar %>        
        <p class="notice "><%= notice %></h5>
      </div>
    <% elsif alert %>
      <div id="notice_wrapper">
        <p class="alert"> <%= alert %> </p> 
      </div>
    <% end %>
    </header>
    <%= render 'layouts/navigation' %>
    </header>
    <main>  
      <%= yield %>
    </main class="flex-shrink-0" role="main">  
    </footer>
      <%= render 'layouts/footer' %>
    </footer>
  </body>

  <script type="text/javascript" >
  $(document).ready(function(){
    setTimeout(function(){
        $('#notice_wrapper').fadeOut("slow", function() {
            $(this).remove();
        })
    }, 2500);
    });
    function checkUser(){
      let usernil = <%= @current_user.nil?.to_json %> ;
      if (usernil === true){
        alert ("You need to login to get access to the content");
      }else{
        return; 
      }
    }
  </script>
</html>

