<div class="row">
  <div class="col-md-9 col-lg-8 mx-auto">
  <h2 class="title mt-5 mb-5 display-3" style="text-align:center">Edit Users</h2>
    <h2>Edit <%= resource_name.to_s.humanize %></h2>
    <%= form_for(resource, as: resource_name, url: user_update_path(resource), html: { :onsubmit => 'return checkEmail();', method: :put }) do |f| %>    
      <%= render "users/shared/error_messages", resource: resource %>
      <%= hidden_field_tag "id", f.object.id %>    
      <div class="form-group">
        <%= f.label :FirstName %><br />
        <%= f.text_field :first_name, autofocus: true %>
      </div>

      <div class="form-group">
        <%= f.label :LastName %><br />
        <%= f.text_field :last_name, autofocus: true %>
      </div>

      <div class="form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, :required => true, autocomplete: "email", id:"email"%>
      <%# autocomplete: "email", %>
      </div>
      <% if current_user.role.include?("admin") %>
        <div class="form-group">
          <%= f.label :role %><br />
          <%= f.select :role, options_for_select(["admin", "teacher"], f.object.role), { include_blank: true }%>
        </div>
      <%else%>
        <% current_user.role %>
      <% end %>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field">
        <%= f.label :password %> <i>(Enter the Password to confirm changes or enter a New Password)</i><br />
        <%= f.password_field :password, id: "password", autocomplete: "new-password", :required => true %>
        <%# <% if f.password.value.lenght < @minimum_password_length %> 
        <% if @minimum_password_length %>
          <br />
          <em>(<%= @minimum_password_length %> characters minimum)</em><br>  
        <% end %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, id: "passwordconfirmation", :required => true, autocomplete: "new-password" %>
        <% if @minimum_password_length %>
          <br />
          <em>(<%= @minimum_password_length %> characters minimum)</em><br>  
        <% end %>
      </div>

      <div class="actions">
        <%= f.submit "Update", id: 'submit_button' %>
      </div>

<%end%>

    <%# <h3>Cancel my account</h3> %>

    <%# <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %>
    <%# </p> %> 

    <%= link_to "Back", :back, :class => "btn btn-outline-primary btn-sm" %>

  </div>
</div>
<script type="text/javascript">
function checkEmail() {
        var email = document.getElementById('email');
        var filter = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        if (!filter.test(email.value)) {
            alert('Please provide a valid email address');
            email.focus;
            return false;
        }
    }
}
</script>