<div class="user-form-container">
  <div class="set-size-and-position">
    <div class="blue-header"></div>  
    <div class="container mt-5 "> 
      <h4 class="center font-weight-light mb-0 align-middle">Documents I downloaded: <%= @user.name%></h4>
      <div class="center">
        <div class="tableuser">
          <br>
          <table class="table table-hover user-table mb-0" id="Idownloaded">
            <thead>
              <tr>
                <th class="h5" style="background:none;">Document Name</th>
                <th class="h5" style="background:none;">Creator email</th>
                <th class="h5" style="background:none;">Creator Name</th>
              </tr>
            </thead>

            <tbody>
              <% @user.logs.each do |log| %>
                <tr>
                  <td><%= log.document.name %></td>
                  <td><%= @creators[log].email %></td>
                  <td><%= @creators[log].name %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div> <%#tableuser%>
      </div> <%#center%>

      <div class="center actions form-group p-3">     
        <button class="btn button_user_card" onclick="exportData()">
          <span class="glyphicon glyphicon-download mr-2"></span>
          Export Report
        </button>
        <%= link_to 'Back', users_path, :class => "btn button_user_card ml-2"  %>           
      </div> <%#actions form-group p-3%>
    </div <%# container mt-5 %>>
  </div> <%# set-size-and-position %>
</div> <%# user-form-container %>                  

<script>
function exportData(tableID, filename = ''){
    var downloadLink;
    var dataType = 'application/vnd.ms-excel';
    var tableSelect = document.getElementById("Idownloaded");
    var tableHTML = tableSelect.outerHTML.replace(/ /g, '%20');
    
    // Specify file name
    filename = filename?filename+'.xls':'excel_data.xls';
    
    // Create download link element
    downloadLink = document.createElement("a");
    
    document.body.appendChild(downloadLink);
    
    if(navigator.msSaveOrOpenBlob){
        var blob = new Blob(['\ufeff', tableHTML], {
            type: dataType
        });
        navigator.msSaveOrOpenBlob( blob, filename);
    }else{
        // Create a link to the file
        downloadLink.href = 'data:' + dataType + ', ' + tableHTML;
    
        // Setting the file name
        downloadLink.download = filename;
        
        //triggering the function
        downloadLink.click();
    }
}
</script>
