<h1 class="title mt-5 mb-5 display-3" style="text-align: center;">Users</h1>
<div id="no-more-tables" class="table-responsive card mb-5">
  <div class="container container-custom rounded-3 container-bg">
    <div class="row container-header p-3 bg-light">
      <h4 class="font-weight-light mb-0 align-middle">Users List</h4>
    </div>
    <div class="row text-center">
      <div class="float-right">
        <%= will_paginate @users %>
      </div>    
    <div class="table-responsive">
      <table class="table table-striped table-hover user-table mb-0">
        <thead>
          <tr>        
            <th scope="col">Email </th>         
            <th scope="col">Role </th>  
          </tr>
        </thead>          
        <tbody>
        <% @users.each do |u| %>           
          <tr class="apple_pagination" >      
            <td><strong><%= u.email %></strong></td>
            <td><strong><%= u.role %></strong></td>
            <td><%= link_to 'Show', "users/#{u.id}", :class => "btn btn-outline-primary btn-sm" %></td> 
            <td><%= link_to 'Edit', edit_user_registration_path(u), :class => "btn btn-outline-primary btn-sm"%></td>
            
            <% if current_user=="Admin" %>
              <%= link_to 'Destroy',  user, method: :delete, :class => "btn btn-outline-primary btn-sm", data: {confirm: "Are you sure you want to delete this user?"} %>
            <%end%>
            <td>
              <%= link_to 'Delete',  user_registration_path(u), method: :delete, :class => "btn btn-outline-primary btn-sm", data: { confirm: 'Are you sure?'} %>
            </td>            
          </tr>    
        <% end %>
        </tbody>         
      </table>               
    </div>              
  </div> 
</div>
 