<div class="grid-container">    
  <div class="search-filter"> 
  </div>
   
  
  <div class="main-result">  

  <!-- Cards disabled -->
  <div class="switch">
    <label class="switch">
      <input type="checkbox" id="card_checkbox">
      <span class="slider round"></span> 
    </label>
  </div>
  <%= render partial: "users/registrations/index_table" %>

  
  <%# <button onclick="check()">View Cards</button>
  <button onclick="uncheck()">View Table</button> %>
  
  
 <%# <%= render partial: "users/registrations/index_card" %> 
 <%# <%= render partial: "users/registrations/index_table" %> 
  
  </div>
</div>

<script>
  // function check() {
    // document.getElementById("card_checkbox").checked = true;
    //  <%= render partial: "users/registrations/index_card" %>;
  // }

  // function uncheck() {
    // document.getElementById("card_checkbox").checked = false;
    //  <%= render partial: "users/registrations/index_table" %>;
  // }
</script>
