<h1 class="title mt-5 mb-5 display-3" style="text-align: center;">User's Logs</h1>
<div id="no-more-tables" class="table-responsive card mb-5">
  <div class="container container-custom rounded-3 container-bg">
  </div>
</div>
<div class="grid-container">
  <div class="container-mt5">
    <h4 class="font-weight-light mb-0 align-middle">Who downloaded my Content: <%= @user.name%></h4>
    <div class="row">
      <div class="table-responsive">
        <%# <p> %>
          <%# Download: %>
          <%# <%= link_to "CSV", user_logs_path(format: "csv"),  :class => "btn button_user_card" %> 
          <%# <%= link_to "Excel", user_logs_path(format: "xls"), :class => "btn button_user_card" %> 
        <%# </p> %>
      <br>
        <button onclick="exportData()">
          <span class="glyphicon glyphicon-download"></span>
          Export Report Who Downloaded my content
        </button>
        <%@mylogs%>
        <%@creator%>
        <% mylogs = Log.where(creator_id: @user.id)%>
        <table class="table table-striped table-hover user-table mb-0" id="whodownloaded">
        <thead>
        <div class="row">
        <tr>
            <th class="h2" style="background:none;">Creator's Email</th>
            <th class="h2" style="background:none;">Document Name</th>
            <th class="h2" style="background:none;">Document Id</th>
            <th class="h2" style="background:none;">Downloaded by (email)</th>
            <th class="h2" style="background:none;">Downloaded by (Name)</th>
            <th colspan="3"></th>
        </tr>
        </div>
        </thead>

        <tbody>
            <% @mylogs.each do |log| %>
            <div class="row">
                <tr>
                <td data-title="User Email"><%= @user.email %></td>
                <td data-title="Document Name"><%= log.document.name %></td>
                <td data-title="Document Creator Id"><%= log.creator_id %></td>
                <% creator = User.find(log.creator_id)%>
                <% creator.email%>
                <td data-title="Document Creator"><%= log.user.email %></td>
                <td data-title="User Name"><%= log.user.name %></td>
                </tr>
            </div>
            <% end %>
        </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<script>
  function exportData(){
    /* Get the HTML data using Element by Id */
    var table = document.getElementById("whodownloaded");
 
    /* Declaring array variable */
    var rows =[];
 
      //iterate through rows of table
    for(var i=0,row; row = table.rows[i];i++){
        //rows would be accessed using the "row" variable assigned in the for loop
        //Get each cell value/column from the row
        column1 = row.cells[0].innerText;
        column2 = row.cells[1].innerText;
        column3 = row.cells[2].innerText;
        column4 = row.cells[3].innerText;
        column5 = row.cells[4].innerText;
 
    /* add a new records in the array */
        rows.push(
            [
                column1,
                column2,
                column3,
                column4,
                column5
            ]
        );
 
        }
        csvContent = "data:text/csv;charset=utf-8,";
         /* add the column delimiter as comma(,) and each row splitted by new line character (\n) */
        rows.forEach(function(rowArray){
            row = rowArray.join(",");
            csvContent += row + "\r\n";
        });
 
        /* create a hidden <a> DOM node and set its download attribute */
        var encodedUri = encodeURI(csvContent);
        var link = document.createElement("a");
        link.setAttribute("href", encodedUri);
        link.setAttribute("download", "Downloaded.csv");
        document.body.appendChild(link);
         /* download the data file named "Stock_Price_Report.csv" */
        link.click();
}
</script>